
.shot {
  margin-top: 15px;
  margin-bottom: 15px;
  background-color: #fff;
  overflow: hidden;
  box-shadow: 0 1px 3px rgba(70,70,70,0.12), 0 1px 2px rgba(70,70,70,0.24);
  transition: box-shadow .2s ease-in-out;

  &:hover {
    box-shadow: 0 7px 20px rgba(70,70,70,0.19), 0 6px 12px rgba(70,70,70,0.23);
  }
}

//
// Top part of the shot block
//
.shot-preview {

  position: relative;
  overflow: hidden;

  img {
    display: block;
    width: 100%;
    height: auto;
    opacity: .9;
    transition: .3s linear;
    backface-visibility: hidden;
    transform: translateZ(0);
  }

  .img {

    &::before {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      top: 100%;
      z-index: 1;
      background-image: linear-gradient(to top, rgba(0,0,0,.25), rgba(0,0,0,.01));
      transition: .2s ease-in-out;
    }
  }

  .title {
    position: absolute;
    bottom: -50px;
    left: 0;
    right: 0;
    display: block;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    padding: 10px 20px;
    margin: 0;
    color: #fff;
    letter-spacing: 1px;
    z-index: 2;
    transition: .2s ease-in-out;

    a {
      display: block;
      color: #fff;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
    }
  }

  .label {
    position: absolute;
    top: -30px;
    left: 0;
    color: #fff;
    background-color: $color-brand;
    font-weight: 300;
    letter-spacing: 1px;
    border-radius: 0;
    padding: 5px;
    z-index: 2;
    transition: .2s ease-in-out;
  }

  .like {
    position: absolute;
    top: 12px;
    left: 10px;
    line-height: 17px;
    font-size: 11px;
    color: #fff;
    cursor: pointer;
    z-index: 1;
    //text-shadow: 1px 1px 10px rgba(0,0,0,.2);

    &::before {
      content: "\f08a";
      font-family: FontAwesome;
      font-size: 17px;
      display: inline-block;
      width: 19px;
      text-align: right;
      color: #fff;
      margin-right: 6px;
      vertical-align: middle;
    }

    &.liked::before {
      content: "\f004";
      color: $color-red;
    }
  }

  // Text overlay
  .text-overlay {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(255,255,255,.95);
    display: block;
    padding: 20px;
    transition: .3s ease-in-out;

    .heading {
      display: block;
      padding-bottom: 8px;
      font-family: $font-family-title;
      font-size: 16px;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
      color: #000;
    }

    .desc {
      display: block;
      font-size: 90%;
      line-height: 22px;
      max-height: 88px;
      overflow: hidden;
      color: $color-text;
    }

    time {
      font-size: 85%;
      color: $color-gray-light;
      display: inline-block;
      margin-top: 12px;
    }
  }

  // put a black overlay on image
  .black-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 0;
    cursor: pointer;
    background-color: rgba(0,0,0,.25);
  }

  &:hover {
    img {
      //transform: scale(1.05);
      opacity: 1;
    }

    .text-overlay {
      top: 0;
    }

    .img::before {
      top: 50%;
    }

    .title {
      bottom: 0;
    }

    .label {
      top: 0;
    }
  }
}

//
// Bottom part of the shot block
//
.shot-detail {

  padding: 20px;
  border-top: 1px solid $color-border;
  white-space: nowrap;

  &::after {
    content: '';
    display: table;
    clear: both;
  }

}

// Shot info inside .shot-detail or .shot-small
.shot-info {

  float: left;
  padding: 1px 0;

  img {
    width: 34px;
    border-radius: 100%;
    float: left;
  }

  h6,
  p,
  > time {
    margin: 0;
    max-width: 90px;
    margin-left: 44px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }

  h6 {
    font-family: $font-family-body;
    font-size: 13px;
    line-height: 15px;
    letter-spacing: 0;
    margin-top: 0;
    margin-bottom: 5px;
    color: $color-gray-dark;

    a {
      color: $color-gray-dark;
    }
  }

  p,
  > time {
    font-size: 11px;
    color: lighten($color-gray-light, 15%);
    display: block;
    line-height: 15px;

    a {
      color: $color-gray-light;
    }
  }

  a:hover {
    color: $color-brand;
  }

}

// stats
.shot-stats {
  float: right;
  list-style: none;
  padding: 0;
  margin: 0;

  li {
    position: relative;
    color: $color-gray-light;
    display: inline-block;
    text-align: center;
    padding: 0 15px;
    margin: 0;
    opacity: .8;
    transition: opacity .2s linear;

    &:hover {
      opacity: 1;
    }

    &::after {
      content: '';
      position: absolute;
      top: 50%;
      right: 0;
      margin-top: -10px;
      width: 1px;
      height: 20px;
      background-color: darken($color-border, 3%);
    }

    &:last-child {

      padding-right: 0;
      
      &::after {
        display: none;
      }
      
    }

    a {
      color: $color-gray-light;
    }

    .fa,
    [class^="ti-"] {
      display: block;
      font-size: 15px;
    }

    .fa-heart {
      color: $color-red;
    }

    span {
      display: block;
      font-family: $font-family-subtitle;
      margin-top: 2px;
      line-height: 20px
    }
  }
}


//
// Small shot
//
.shot.shot-small {

  .shot-preview {

    img {
      transition: .3s ease-in-out;
    }

    .img::before {
      display: none;
    }

    &:hover img {
      //transform: scale(1.1);
      //opacity: .9;
    }

  }

  .shot-info {
    float: none;
    padding: 10px;
    border-top: 1px solid $color-border;

    h6,
    p,
    > time {
      max-width: 100%;
    }
  }

}


//
// Minimal shots
//
.shot.shot-minimal {

  .shot-preview {

    .img::before {
      display: none;
    }
  }


  .shot-detail {
    padding: 8px;
  }

  .shot-info {

    h6,
    p,
    > time {
      margin-left: 0;
      max-width: 90px;
      line-height: 18px;
    }
  }

  .shot-stats {
    line-height: 15px;
    
    li {
      padding: 0 6px;

      &::after {
        display: none;
      }
    }

    .fa,
    [class^="ti-"] {
      display: inline-block;
      font-size: 12px;
    }

    span {
      display: inline-block;
      margin-top: 0;
      padding-left: 4px;
      font-family: $font-family-body;
      font-size: 12px;
    }

  }

}


//
// Single page shot
//

// Sidebar
.shot-sidebar {

  .sidebar-block:last-child {
    border-bottom: 0;
    padding-bottom: 0;
  }

}

.sidebar-block {

  padding-bottom: 40px;
  margin-bottom: 40px;
  border-bottom: 1px solid $color-border;

  h6 {
    position: relative;
    font-size: 75%;
    text-transform: uppercase;
    text-align: center;
    color: $color-gray-light;
    margin-bottom: 20px;

    &::after {
      content: '';
      position: absolute;
      bottom: -5px;
      left: 50%;
      margin-left: -25px;
      display: block;
      width: 50px;
      height: 1px;
      background-color: $color-brand;
      opacity: .4;
    }
  }

}


.single-shot-stats {

  list-style: none;
  margin: 0;
  padding: 0;

  &::after {
    content: '';
    display: table;
    clear: both;
  }

  li {
    float: left;
    width: 50%;
    display: inline-block;
    text-align: center;
  }

  i,
  a,
  span {
    display: block;
    color: $color-gray-light;
  }

  i {
    font-style: normal;
    font-size: 30px;
    margin-bottom: 8px;
  }

  span {
    font-family: $font-family-subtitle;
    color: $color-gray-light;
    font-size: 24px;
    font-weight: 300;
    line-height: 40px;
  }

  .fa {
    transition: color .2s linear;
  }

  a:hover .fa-heart-o,
  .fa-heart {
    color: $color-red;
  }

  &.cols-3 li { width: 33.333333% }
  &.cols-4 li { width: 25% }
  &.cols-5 li { width: 20% }

}


//
// Shot slider in .site-header
//
.header-slider-wrapper {
  background-color: rgba(0,0,0,.2);
  padding: 30px;
  border-radius: 3px;
  opacity: .6;
  transition: .5s ease-in-out;

  &:hover {
    opacity: 1;
  }
}

.header-shot-slider {
  list-style: none;
  margin: 0;
  padding: 0;


  li {
    display: inline-block;
  }
}

//
// Modal
//
.modal-backdrop.in {
  opacity: .85;
}

#shot-modal {

  .modal-content {
    border-radius: 3px;
    background-color: $color-bg;
  }

  @include media-up(tablet) {
    .container-fluid {
      padding-left: 30px;
      padding-right: 30px;
    }
  }

}



@include media-down(phone) {

  .shot-preview {

    img {
      opacity: 1;
    }

    .img::before {
      top: 50%;
    }

    .title {
      bottom: 0;
    }

    .label {
      top: 0;
    }

  }

}
