 @font-face{
 font-family: nanum-squareL;
 src: url('/final/resources/src/assets/fonts/NanumSquareRoundL.TTF');
 }
 @font-face{
 font-family: nanum-squareB;
 src: url('/final/resources/src/assets/fonts/NanumSquareRoundB.TTF');
 }
 
 body {
 font-family:namum-squareL;
 }
 
table{
 font-family: nanum-squareL;
 color : #606873;
 font-size:14px}

 
thead{
 font-family: nanum-squareB;
}

.table.admin{
	margin-bottom:0px;
	font-c	olor
}



/* 평점, 별점  */
span.star-prototype, span.star-prototype > * {
    height: 16px; 
    background: url(/MavenWeb/resources/src/assets/img/star.png) 0 -16px repeat-x;
    width: 80px;
    display: inline-flex;
}
 
span.star-prototype > * {
    background-position: 0 0;
    max-width:80px; 
}

/* admin 페이지 */
.pad_5 {
	padding: 5px;}
	
#PAGE_NAVI{
	text-align:center;
	margin:10px 0 20px 0;
	color:gray;
}

.admin_category, .admin_sub_category{
	cursor:pointer
}

.clicked{
	background-color:#f0f6ff;
}